.sidebar
    .logo-area.text-center 
        .bg-logo
            i.fas.fa-chart-line 
            span.logo-title Profile 
    ul.links-area.list-unstyled
        li: a(href="homepage.html" class= pageTitle === "HomePage" ? 'active': '') HomePage
        li 
            a.toggle-submenu(href="#") 
             | Forms 
             i.fas.fa-angle-right
            ul.child-links.list-unstyled 
                li: a(href="#") Textarea
                li
                    a(href="#")
                        | Checkbox
                        span.new new

                li: a(href="#") Tables
        li 
            a.toggle-submenu(href="#") 
             | Misc 
             i.fas.fa-angle-right
            ul.child-links.list-unstyled 
                li: a(href="#") Loading
                li: a(href="#") Pages
                li: a(href="#") Tables  
        li: a(href="chart.html"  class= pageTitle === "Chart" ? 'active': '') Charts              
