.header {
  background-color: #f4f7fa;
  padding: 15px;
  position: relative;
  &.main-dark {
    background-color: #212224;
    i {
      color: #adb7be !important;
    }
    .dropdown-menu.show {
      background-color: #323437;
      box-shadow: 0 3px 10px #1f2021 !important;
      color: #adb7be;
      &:before {
        border-color: transparent transparent #323437 transparent !important;
      }
      h4 {
        color: #c9d0d5;
      }
      .notify-header {
        border-color: #c9d0d5;
        background: #323437;
      }
      span {
        color: #c9d0d5;
      }
    }
  }
  .rigt-menu {
    position: absolute;
    display: flex;
    right: 40px;
  }
  i {
    color: #3f4d67;
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
  }
  i.fa-bell {
    margin-right: 0;
  }
  .toggle-sidebar {
    cursor: pointer;
  }
  .dropdown {
    display: inline-block;
    cursor: pointer;
  }
  .dropdown-menu {
    top: 10px !important;
  }
  .dropdown-notify.show {
    min-height: 100%;
    width: 350px;
    padding: 0;
    float: right;
    box-shadow: 0 -2px 2px #455a6433;
    border: none;

    &:before {
      content: "";
      position: absolute;
      top: -17px;
      right: 16px;
      border-style: solid;
      border-width: 10px;
      border-color: transparent transparent #fff transparent;
    }
  }
  .notify-header {
    display: inline-block;
    border-bottom: 1px solid #f5f6f8;
    width: 100%;
    padding: 20px 15px;
    h4 {
      font-size: 15px;
      display: inline-block;
      color: #111;
      font-weight: 700;
    }
    a {
      font-size: 13px;
      float: right;
      position: relative;
      top: 6px;
      text-decoration: underline !important;
      cursor: pointer;
    }
  }
  .notify-body {
    position: relative;
    li {
      padding: 20px 15px;
      transition: 0.3s;
      cursor: pointer;
      &:hover {
        background: rgba(4, 169, 245, 0.1);
      }
    }
  }
  .notify-footer {
    text-align: center;
    border-top: 1px solid #f5f6f8;
    padding: 10px;
    a {
      font-size: 12px;
      text-decoration: underline !important;
    }
  }
  .time-msg {
    display: inline-block;
    float: right;
    font-size: 11px;
    position: relative;
    top: 0px;
    i {
      margin-right: 6px;
      color: #3e4e67;
    }
  }
  .media-msg {
    position: relative;
    display: inline-block;
    img {
      width: 35px;
      margin-right: 5px;
      top: -14px;
      position: relative;
      border-radius: 50%;
    }
    .msg-body {
      display: inline-block;
      font-size: 14px;
      line-height: 20px;
      a {
        font-size: 12px;
      }

      p {
        font-size: 11px;
        color: #ddd;
      }
    }
  }
  .dropdown.user-menu {
    margin-left: 20px;
    img {
      margin-left: 20px;
      width: 30px;
      border-radius: 50%;
      cursor: pointer;
    }
    .dropdown-menu {
      width: 250px;
      padding: 0;
      color: white;
      box-shadow: 0 -2px 2px #455a6433;
      &:before {
        content: "";
        position: absolute;
        top: -17px;
        right: 15px;
        border-style: solid;
        border-width: 10px;
        border-color: transparent transparent #04a9f5 transparent;
      }
    }
    .notify-header {
      background: #04a9f5;
    }
    .left-header {
      display: inline-block;
      float: right;
      i {
        color: white;
        border: 1px solid white;
        padding: 5px;
        border-radius: 50%;
        margin-right: 0;
      }
    }
    .right-header {
      display: inline-block;
      position: relative;
      text-align: left;
      img {
        margin-left: 4px !important;
        border-radius: 50%;
        margin-right: 10px;
      }
      span {
        font-weight: 700;
      }
    }
    .header-body {
      padding-top: 30px;
      li {
        color: #3f4d67;
        font-size: 13px;
        padding-bottom: 20px;
        padding-left: 0;
        padding-top: 15px;
        &:hover {
          background: rgba(4, 169, 245, 0.1);
        }
      }
    }
  }
}
